@import "tailwindcss";
@plugin "tailwindcss-animate";

:root {
    --bg-color: #0A0E1A;
}

@theme {
    /* Background Colors */
    --color-background: #0A1628;
    --color-secondary: #1A1F2E;
    --color-input: #0D1520;
    --color-backgroundfeed: #0A0E1A;
    --color-inputSearch: #0D1520;
    /* Border Colors */
    --color-border: #374151;
    --color-border-secondary: #334155;
    --color-border-accent: #1E2939;
    --color-border-strong: #2A2F3E;
    --color-border-hover: #101828;

    /* Text Colors */
    --color-foreground: #ffffff;
    --color-text-secondary: #94a3b8;
    --color-text-muted: #64748b;
    --color-text-accent: #6A7282;

    /* Brand Colors */
    --color-primary: #2B7FFF;
    --color-primary-hover: #2566d1;
    --color-blue-600: #2563eb;
    --color-blue-500: #3b82f6;
    --color-blue-accent: #0ea5e9;
    /* Fonts */
    --font-sans: "Inter", sans-serif;
}

@utility no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@utility custom-scrollbar {
    @apply [&::-webkit-scrollbar]:w-1.5 [&::-webkit-scrollbar-track]:bg-transparent [&::-webkit-scrollbar-thumb]:bg-border-secondary [&::-webkit-scrollbar-thumb]:rounded-full hover:[&::-webkit-scrollbar-thumb]:bg-text-secondary;
}

@utility spacer-column {
    @apply w-10 shrink-0;
}

@utility action-button-base {
    @apply text-[#99A1AF] hover:text-blue-accent hover:bg-secondary rounded-full;
}

@utility media-content {
    @apply w-full h-auto object-cover max-h-[500px];
}

@utility small-text {
    @apply text-xs text-[#99A1AF];
}

/* Typography */
.text-base {
    font-size: 16px;
}

.text-p {
    font-size: 14px;
}

.text-hd {
    font-size: 18px;
}

.text-ft {
    font-size: 15px;
}

/* Ẩn thanh cuộn cho Emoji Picker nhưng BẮT BUỘC cho phép lăn chuột */
.no-scrollbar .epr-body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.no-scrollbar .epr-body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    /* Dòng quan trọng nhất để sửa lỗi không lướt được: */
    overflow-y: auto !important;
}

/* Target vào tất cả trạng thái autofill của input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    /* 1. Dùng box-shadow đè lên màu nền mặc định */
    /* Thay mã màu #1e293b bằng màu nền input hiện tại của bạn */
    -webkit-box-shadow: 0 0 0 30px #0D1520 inset !important;

    /* 2. Đổi màu chữ thành màu trắng (hoặc màu bạn muốn) */
    -webkit-text-fill-color: white !important;

    /* 3. (Tuỳ chọn) Trick để giữ màu nền lâu hơn nếu shadow chưa load kịp */
    transition: background-color 5000s ease-in-out 0s;
}